<template>
  <div class="flex flex-col min-h-screen">
    <Header name="Mithril Informatique" />
    <CategoryList />
    <ProductList />
    <Footer />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

import Header from './Header.vue'
import Footer from './Footer.vue'
import CategoryList from './CategoryList.vue'
import ProductList from './ProductList.vue'

export default defineComponent({
  components: { CategoryList, ProductList, Header, Footer }
})
</script>
