<template>
  <div class="flex flex-row justify-center my-4 flex-wrap">
    <div v-for="category in state.categories" :key="category.id">
      <p
        v-if="category.focus"
        class="hover:cursor-pointer mx-1 px-2 text-white rounded-full text-xs bg-red-900 mb-1"
        @click="toggleFocus(category.id)"
      >
        {{ helpers.capitalize(category.label) }}
      </p>
      <p
        v-else
        class="hover:cursor-pointer mx-1 px-2 bg-gray-900 text-white rounded-full text-xs transform duration-500 hover:scale-110 hover:bg-red-900 mb-1"
        @click="toggleFocus(category.id)"
      >
        {{ helpers.capitalize(category.label) }}
      </p>
    </div>
  </div>
</template>

<script lang="ts">
import store from '@/global/store'
import helpers from '@/global/helpers'
import { defineComponent } from 'vue'

export default defineComponent({
  setup() {
    const { state, toggleFocus } = store
    return { state, toggleFocus, helpers }
  }
})
</script>
