<template>
  <footer
    class="flex flex-col text-white justify-center bg-gray-900 items-center mt-5 p-2 text-xs"
  >
    <p class="text-2xl">Mentions légales</p>
    <p class="text-gray-500">
      Propulsé par {{ helpers.capitalize(APP_TITLE) }} sous licence
      {{ APP_LICENSE }}
    </p>
    <p class="text-gray-500">
      Version
      <a :href="APP_REPOSITORY" class="text-white hover:bg-gray-600">
        {{ APP_VERSION }}
      </a>
    </p>
  </footer>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import helpers from '@/global/helpers'

declare const APP_TITLE: string,
  APP_VERSION: string,
  APP_REPOSITORY: string,
  APP_LICENSE: string

export default defineComponent({
  setup() {
    return {
      APP_TITLE,
      APP_VERSION,
      APP_REPOSITORY,
      APP_LICENSE,
      helpers
    }
  }
})
</script>
