<template>
  <header class="flex flex-row p-2 justify-center bg-gray-900">
    <img class="h-13 m-3" src="@/assets/logo.png" />
    <div class="flex-col my-2 text-white text-center">
      <h1 class="text-3xl font-bold">La Boutik Ǧ1</h1>
      <p>de {{ name }}</p>
    </div>
  </header>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
export default defineComponent({
  props: {
    name: { type: String, required: true }
  }
})
</script>
