<template>
  <div
    class="flex flex-wrap content-around h-auto justify-center items-stretch mx-5"
  >
    <div
      v-for="product in filteredProducts"
      :key="product.id"
      class="flex flex-col items-stretch flex-wrap"
    >
      <a href="." class="flex flex-1"
        ><div
          class="flex flex-col w-64 m-4 p-6 bg-white rounded-lg shadow-xl transform duration-500 hover:scale-110"
        >
          <div class="flex justify-center flex-1 items-center">
            <img :src="product.image" class="w-auto" />
          </div>
          <div class="mx-3 pt-1">
            <p class="text-base text-gray-600 leading-normal text-center">
              {{ product.label }}
            </p>
          </div>
          <div class="flex justify-center mt-3">
            <p class="text-white bg-red-900 py-2 px-5 rounded-md font-bold">
              {{ helpers.toJune(product.price) }}
            </p>
          </div>
        </div></a
      >
    </div>
  </div>
</template>

<script lang="ts">
import global from '@/global/store'
import helpers from '@/global/helpers'

import { defineComponent } from 'vue'

export default defineComponent({
  setup() {
    const { filteredProducts } = global
    return { filteredProducts, helpers }
  }
})
</script>
